# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# Snapshot testing
**/__Snapshots__/.DS_Store

# Local secrets
*.p12
*.mobileprovision
